#container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#navbar {
  width: 100%;
  height: 10%;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#nav-brand {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin: 0px 40px;
}

#nav-brand h1 {
  margin: 0;
}
#nav-links {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 40px;
  gap: 20px;
}

#nav-links li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#nav-links a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

#nav-links a:hover {
  color: #000;
}

#btn-panel {
  background-color: #f2c94c;
  padding: 10px;
  border-radius: 5px;
}

#btn-panel:hover {
  background-color: #f2c94c;
  color: #000;
  padding: 10px;
  border-radius: 5px;
}

#btn-close-system {
  background-color: #b9404a;
  padding: 12px 15px;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  border: none;
}

#btn-close-system:hover {
  background-color: #b9404a;
  color: #000;
  padding: 10px;
  border-radius: 5px;
}

#search-item {
  width: 90%;
  margin: 30px auto;
  height: 36px;
  border: 0.5px solid #f2c94c;
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
}

#modal-query-items {
  display: none;
  position: fixed;
  z-index: 1;
  top: 160px;
  left: auto;
  right: auto;
  width: 90%;
  height: 60%;
  border: 0.5px solid #eee;
  border-radius: 10px;
  overflow: auto;
  background-color: rgba(0, 0, 255, 0.9);
  text-align: center;
}

#modal-query-items-header {

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
  gap: 10px;

}

#modal-query-items-title {
  text-align: center;
  font-size: 20px;
  margin: 10px;
  display: inline-block;
}

#modal-query-items-header button {
  background-color: #f2c94c;
  border: 0.5px solid #f2c94c;
  border-radius: 5px;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  padding: 5px;
  cursor: pointer;
}

#modal-query-items-header button:hover {
  background-color: #f2c94c;
  color: #000;
  padding: 10px;
  border-radius: 5px;

}

#modal-query-items #query-item-input {
  width: 80%;
  margin: 30px auto;
  height: 36px;
  border: 0.5px solid #f2c94c;
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
}

#modal-products {
  display: none;
  position: fixed;
  z-index: 1;
  top: 0px;
  left: auto;
  right: auto;
  width: 100%;
  height: 100%;
  border: 0.5px solid #eee;
  border-radius: 10px;
  overflow: auto;
  background-color: rgba(0, 0, 255, 0.9);
  text-align: center; 
}

#product-table {
  width: 100%;
  border-collapse: collapse;
}

#product-table th,
#product-table td {
  border: 1px solid #fff;
  padding: 8px;
  text-align: left;
  color: #fff;
  font-weight: bold;
}

#product-table th {
  background-color: rgb(46, 132, 144);
}

#product-table button {
  background-color: #f2c94c;
  border: 0.5px solid #f2c94c;
  border-radius: 5px;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  padding: 10px 20px;   
}

#modal-products-header {

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px;

}
#modal-products-title {
  text-align: center;
  font-size: 20px;
  display: inline-block;
}

#modal-products-title {
  margin: 10px;
}

#btn-close-modal-products {
  background-color: #b9404a;
  padding: 12px 15px;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  border: none;
}

#app {
  display: grid;
  grid-template-columns: 0.8fr 3fr;
  gap: 20px;
  width: 90%;
  height: 100%;
  margin: auto;
}

#left-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 8px;
}

#left-container button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
  background-color: #f2c94c;
  border: 0.5px solid #f2c94c;
  border-radius: 5px;
  margin: 5px 0;
  color: #fff;
  padding: 23px 10px;
  font-size: 18px;
  font-weight: 700;
}

#left-container button:hover {
  background-color: #f2c94c;
  color: #000;
  border: 0.5px solid #f2c94c;
  border-radius: 5px;
}

#left-container #query-btn {
  background-color: #4083b9;
  border: 0.5px solid #fff;
}

.quantity-value input {
  width: 50px;
  height: 24px;
  border-radius: 5px;
  border: 0.5px solid #f2c94c;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  color: #000;
}
#right-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#products-list {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: space-between;
  width: 100%;
  height: 400px;
  overflow: auto;
  border-radius: 5px;
  background-color: #eee;
  color: #000;
  font-size: 20px;
}

#products-list::-webkit-scrollbar {
  width: 10px;
}

#products-list::-webkit-scrollbar-track {
  background-color: #eee;
}

#products-list::-webkit-scrollbar-thumb {
  background-color: #ccc;
}

#products-list::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}

#products-list::-webkit-scrollbar-thumb:active {
  background-color: #888;
}

#products-list thead {
  background-color: #4083b9;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  height: 32px;
}

#products-list #product-number {
  width: 5%;
}

#products-list #product-name {
  width: 35%;
}

#products-list #product-price {
  width: 15%;
}

#products-list #product-quantity {
  width: 15%;
}

#products-list #product-total {
  width: 15%;
}

#products-list #product-action {
  width: 10%;
}

#products-list-body {
  width: 100%;
  text-align: center;
}



.btn-remove-product {
  background-color: #b9404a;
  padding: 5px 10px;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  border: none;
}

#row-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  gap: 15px;
  margin-top: 20px;
}

#row-footer button {
  height: 100%;
  width: 25%;
  font-size: 20px;
  font-weight: bold;
  border: 0.5px solid #eee;
  border-radius: 5px;
}

#total-items {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #4083b9;
  border-radius: 5px;
}

#total-items p {
  margin: 0;
}

#total-items h3 {
  margin: 0;
}

#total-price {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  background-color: #4083b9;
}
#total-price p {
  margin: 0;
}

#total-price h3 {
  margin: 0;
}

#cancel-btn {
  background-color: #b9404a;
  color: #fff;
}

#cancel-btn:hover {
  background-color: #b9404b;
  color: black;
}

#confirm-btn {
  background-color: #40b98c;
  color: #fff;
}
