#container 
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#navbar {
    width: 100%;
    height: 10%;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#nav-brand {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin: 0px 40px;
}

#nav-brand h1 { 
    margin: 0;
}
#nav-links {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 40px;
    gap: 20px;
}

#nav-links li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#nav-links a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

#btn-panel {
    background-color: #F2C94C;
    padding: 10px;
    border-radius: 5px;
}


#btn-panel:hover {
    background-color: #F2C94C;
    color: #000;
    padding: 10px;
    border-radius: 5px;
}


#btn-close-system {
    background-color: #B9404A;
    padding: 10px;
    border-radius: 5px;
}

#btn-close-system:hover {

    background-color: #B9404A;
    color: #000;
    padding: 10px;
    border-radius: 5px;

}

#searchItem {
    
    width: 1024px;
    margin: 30px auto;
    height: 36px;
    border: 0.5px solid #F2C94C;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
}

#modal-products {
    display: none;
    position: fixed;
    z-index: 1;
    top: 40px;
    left: auto;
    right: auto;
    width: 1200px;
    height: 100%;
    border: 0.5px solid #eee;
    border-radius: 5px;
    overflow: auto;
    background-color: rgb(46,132,144);
    background-color: rgba(0,0,255,0.5);
}

#modal-products-title {
    text-align: center;
    font-size: 20px;
}

#modal-products-title {
    margin: 10px;
}

#app {
    display: grid;
    grid-template-columns: 0.8fr 3fr;
    gap: 20px;
    width: 1024px;
    height: 100%;
    margin: auto;
}

#left-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 5px;
}

#left-container button {
    width: 100%;
    height: 48px;
    background-color: #F2C94C;
    border: 0.5px solid #F2C94C;
    border-radius: 5px;
    margin: 8px 0;
    color: #Fff;
    font-size: 18px;
    font-weight: 700;
}

#left-container button:hover {
    background-color: #F2C94C;
    color: #000;
    border: 0.5px solid #F2C94C;
    border-radius: 5px;
}

#left-container #query-btn {
    background-color: #4083B9;
    border: 0.5px solid #fff;
}

#right-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#products-list {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: space-between;
    width: 100%;
    height: 400px;
    overflow: auto;
    border-radius: 5px;
    background-color: #eee;
}

#products-list::-webkit-scrollbar {
    width: 10px;
}

#products-list::-webkit-scrollbar-track {
    background-color: #eee;
}

#products-list::-webkit-scrollbar-thumb {
    background-color: #ccc;
}

#products-list::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;

}

#products-list::-webkit-scrollbar-thumb:active {

    background-color: #888;

}

#products-list thead {
    background-color: #4083B9;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    height: 32px;
}

#products-list #product-number {
    width: 5%;
}

#products-list #product-name {
    width: 45%;
}

#products-list #product-price {
    width: 15%;
}

#row-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    gap: 15px;
    margin-top: 20px;
}

#row-footer button {
    height: 100%;
    width: 25%;
    font-size: 20px;
    font-weight: bold;
    border: 0.5px solid #eee;
    border-radius: 5px;
}

#total-items {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #4083B9;
    border-radius: 5px;
}

#total-items p {
    margin: 0;
}

#total-items h3 {
    margin: 0;
}

#total-price {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    background-color: #4083B9;

}
#total-price p {
    margin: 0;
}

#total-price h3 {
    margin: 0;
}

#cancel-btn {
    background-color: #B9404A;
    color: #fff;
}

#cancel-btn:hover {
    background-color: #B9404b;
    color: black;
}

#confirm-btn {
    background-color: #40B98C;
    color: #fff;
}
